body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Sfondo cambiato da #f4f4f4 a bianco */
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
}

.update img {
    width: 100px;
    height: 100px;
}

.update span {
    display: block;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.info p {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
