{% extends 'base.html' %}

{% block content %}
  <h1>Dettaglio Foto</h1>

  <div class="photo-container">
      <a href="{{ url_for('photo_detail', photo_id=photo.id) }}">
        <img src="{{ url_for('static', filename='uploads/' + photo.filename) }}" alt="Foto di {{ photo.title }}">
      </a>
  </div>
<br>
<br>
<div class="actions" style="display: flex; flex-direction: column; align-items: center;">
  <form action="{{ url_for('conferma_trasazione', photo_id=photo.id) }}" method="POST" style="width: 100%; text-align: center;">
    <button type="submit" class="btn btn-orange" style="padding: 10px 20px; border: none; border-radius: 5px; background-color: orange; color: white; margin: 10px auto; font-size: 16px;">
      Acquista con XMR Monero <i class="fas fa-shopping-cart"></i>
    </button>
  </form>

    <!-- Assicurati di sostituire 'PHOTO_PRICE_EUR' e 'PHOTO_TRON_WALLET_ADDRESS' con i valori corretti -->
<form action={{url_for('conferma_trasazione_usdt', photo_id=photo.id)}} method="post">
    <button type="submit">Acquista con USDT</button>
</form>


  <div class="photo-info">
    <h2>NOME: {{ photo.title }}</h2>
    <p>DESCRIZIONE: {{ photo.description }}</p>
    <p>Prezzo in Dollari: {{ photo.price_eur }}</p>
    <p>Prezzo in Monero: {{ photo.price_monero }}</p>
    <p>Località: {{ photo.province }}</p>
    <p>Adress: {{ photo.tron_wallet_address }}</p>
    <a href="{{ url_for('messages', recipient=photo.user.username) }}" class="btn btn-info">Invia un messaggio a {{ photo.user.username }}</a>
  </div>

  {% if photo.user_id == current_user.id %}
    <div class="delete-photo">
      <form action="{{ url_for('elimina_foto', photo_id=photo.id) }}" method="POST" onsubmit="return confirm('Sei sicuro di voler eliminare questa foto?');">
        <button type="submit" class="btn btn-danger">Elimina Foto</button>
      </form>
    </div>
  {% endif %}

  <div class="navigation-links">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Torna Indietro</a>
  </div>
{% endblock %}
